body {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}


.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: white;
    border: 0;
}

.form-control {
    text-align: center;
    width: auto;
    margin: auto;
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-align: center;
    background-color: white;
!important;
    color: #454648;
!important;
}

.bottom-buffer-20 {
    margin-bottom: 20px;
}
